#calculator {
  width: 50vw;
  margin: 2% 2%;
  float: right;
}

small {
  text-align: center;
  margin-bottom: 2px;
  color: red;
  font-size: 17px;
  font-weight: bold;
}

#result-section {
  background: #1b2021;
  color: #e3dcc2;
  font-weight: 600;
  font-size: 40px;
  padding: 2rem;
}

#result {
  display: block;
  text-align: right;
}

#opertations-section {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
}

.row {
  width: 100%;
  border-bottom: 1px solid #561d25;
}

button {
  border: none;
}

.cell {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  background: #a6a867;
  color: #1b2021;
  font-weight: 600;
  padding: 1.5rem 0;
  width: 12.5vw;
  box-sizing: border-box;
  border-right: 1px solid #561d25;
}

.cell:last-child {
  background: #e3dc95;
  border-right: none;
}

.row:last-child > .cell:nth-last-child(3) {
  width: 25vw;
}

span {
  pointer-events: auto;
  cursor: default;
}
